{% extends 'base.html' %}
{% block content %}
  <h2>{{ writing.title }}</h2>
  <p class="mb-0">작성자: {{ writing.author }}</p>
  <p style="font-size: 0.75rem;" class="text-right mb-0">최초 작성일: {{ writing.created_at|date:'Y-m-d H:i' }}</p>
  <p style="font-size: 0.75rem;" class="text-right">최종 수정일: {{ writing.updated_at|date:'Y-m-d H:i' }}</p>
  <hr>
  <p>{{ writing.content }}</p>
  <div class="text-right">
    <a class="btn btn-dark" href="{% url 'board:index' %}">글 목록</a>
    {% if request.user == writing.author %}
      <a class="btn btn-dark" href="{% url 'board:delete' writing.pk %}">삭제</a>
    {% endif %}
  </div>
  <hr>
  <div><i class="fas fa-comments mb-3" style="font-size:1.5rem;"></i>
    <ul class="list-group">
      {% for comment in comments %}
        <li class="list-group-item">{{ comment.author }}: {{ comment.content }}
          <div class="text-right">
            <button class="btn"><i class="fas fa-trash-alt"></i></button>
            <button class="btn"><i class="fas fa-reply"></i></button>
          </div>
        </li>
      {% endfor %}
    </ul>
    <br>
    <form action="{% url 'board:comment_create' writing.pk %}" method="POST" class="">
      {% csrf_token %}
      <div class="row align-items-center my-1">
        <input type="text" name="content" id="content" class="form-control col mr-1">
        <input type="submit" value="댓글 쓰기" class="btn btn-dark col-1">
      </div>
    </form>
  </div>
{% endblock %}